.tela{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}
.tela article{
    display: inline-block;
    text-align: center;
    border: 5px solid wheat;
    background: tomato;
    width: 30%;
    padding: 10px;
    margin-bottom: 2px;
    color: whitesmoke;
    text-decoration: none;
}
.tela a{
    display: flex;
}
.tela .paginacao{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}

.tela .paginacao button{
    cursor: pointer;
}
